/* Global Variables */
:root {
  /* Google Font	*/
  --font: "Oswald", serif;
  --font-headings: "Tilt Prism", sans-serif;
}

/* Resets */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/* Typography */
body {
  line-height: 1.4;
  font-family: var(--font);
}

h1,
h2,
h3,
nav a {
  font-family: var(--font);
}

body {
  background-color: #323284;
}

.wrapper {
  max-width: 600px;
  margin: 0 auto;
}
/* Start Page */

.uniform {
  fill: #000000;
}

svg path {
  stroke-width: 4px;
  fill: none;
  animation: stroke 5s infinite;
}

@keyframes stroke {
  0% {
    stroke: rgb(113, 5, 5);
  }
  25% {
    stroke: rgb(127, 85, 8);
  }
  50% {
    stroke: rgb(149, 149, 8);
  }
  75% {
    stroke: rgb(16, 128, 16);
  }
  100% {
    stroke: rgb(13, 13, 135);
  }
}

.start-menu {
  background-color: beige;
  height: 100vh;
}
.start-game {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.5rem;
  padding: 2rem;
  border-radius: 1rem;
  width: fit-content;
  margin: 0 auto;
  background-color: #a8a8da;
}

/* Intro Scene */

.intro-scene {
  display: none;
  background-color: #181818;
  height: 100%;
  padding: 1rem;
}

.intro-scene p {
  color: #fff;
  padding: 2rem;
  font-size: 1.2rem;
}

.intro-scene p:last-of-type {
  padding-bottom: 5rem;
}

/* Game Levels */

.game-box {
  height: 100%;
  width: 100%;
  display: none;
  flex-wrap: wrap;
}
.controls-box {
  background-color: #4848d5;
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.start,
.quit,
.level-info {
  color: #fff;
  font-size: 2rem;
}

.level-info {
  font-family: var(--font-headings);
}

.options-box {
  height: 50%;
  width: 100%;
  background-color: #a8a8da;
}
.game-bg-img {
  /* object-fit: cover; */
  opacity: 0.8;
}

.action-box {
  position: relative;
}
.player-idle-standing {
  /* animation: playerStanding 1s steps(10) infinite; */
  position: absolute;
  left: 0;
  bottom: 0;
}

.gpt-idle {
  position: absolute;
  right: 0;
  top: 0;
}

label {
  display: block;
  padding: 0.5rem;
}

.options-box {
  padding: 2rem;
}

/* .game-box,
.intro-scene,
.start-menu {
  display: none;
} */

.game-over-screen {
  background-color: #000000;
  height: 100vh;
}

.game-over-screen p {
  color: #fff;
}

.game-over-screen p:first-of-type {
  font-size: 4rem;
  text-align: center;
}
